<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let movie of movies" (click)="movieSelect(movie);
        " [class.active]="movie === selectedMovie">
            <span class="badge badge-warning"> {{movie.id}}</span>
            {{movie.name}}
            <span class="close" (click)="deleteMovie(movie.id)">X</span>
        </li>
    </ul>

</div>

<div class="card">
    <div class="card-header">
        Add Movie
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="name">Image Url</label>
            <input type="text" class="form-control" #addedImgUrl>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" #addedName>
        </div>
        <div class="form-group">
            <label for="name">Description</label>
            <textarea class="form-control" #addedDescription></textarea>
        </div>
        <button class="btn btn-primary"
            (click)="addMovie(addedImgUrl.value, addedName.value, addedDescription.value);addedImgUrl.value=''; addedName.value=''; addedDescription.value='';">
            AddMovie
        </button>
    </div>
</div>